*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/gradle/wrapper/gradle-wrapper.properties
/app/src/androidTest/java/protect/card_locker/ApplicationTest.java
