<?xml version="1.0" encoding="utf-8"?>
<manifest package="protect.card_locker"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.CAMERA"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".LoyaltyCardLockerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="protect.card_locker.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoyaltyCardViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""
            android:windowSoftInputMode="stateHidden"
            android:exported="true"/>
        <activity
            android:name=".LoyaltyCardEditActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter android:label="@string/intent_import_card_from_url">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://github.com/brarcher/loyalty-card-locker/” -->
                <data android:scheme="https"
                    android:host="@string/intent_import_card_from_url_host"
                    android:pathPrefix="@string/intent_import_card_from_url_path_prefix" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BarcodeSelectorActivity"
            android:label="@string/selectBarcodeTitle"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".preferences.SettingsActivity"
            android:label="@string/settings"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ImportExportActivity"
            android:label="@string/importExport"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".intro.IntroActivity"
            android:label=""
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".CardShortcutConfigure"
            android:label="@string/cardShortcut"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            android:authorities="${applicationId}">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
    </application>

</manifest>
