name: Convert CHANGELOG to Fastlane
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'CHANGELOG.md'
permissions:
  actions: none
  checks: none
  contents: write
  deployments: none
  discussions: none
  id-token: none
  issues: none
  packages: none
  pages: none
  pull-requests: write
  repository-projects: none
  security-events: none
  statuses: none
jobs:
  convert_changelog_to_fastlane:
    runs-on: ubuntu-latest
    name: Convert CHANGELOG to Fastlane
    steps:
    - name: Checkout repo
      id: checkout
      uses: actions/checkout@v4.2.2
    - name: Setup Python
      uses: actions/setup-python@v5.4.0
      with:
        python-version: '3.x'
    - name: Run converter script
      run: python .scripts/changelog_to_fastlane.py
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v7.0.6
      with:
        title: "Update Fastlane changelogs"
        commit-message: "Update Fastlane changelogs"
        branch-suffix: timestamp
