name: Update locales
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - app/src/main/res/values-*/strings.xml
      - app/src/main/res/values/settings.xml
permissions:
  actions: none
  checks: none
  contents: write
  deployments: none
  discussions: none
  id-token: none
  issues: none
  packages: none
  pages: none
  pull-requests: write
  repository-projects: none
  security-events: none
  statuses: none
jobs:
  update-locales:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.1.6
    - name: Add new locales
      run: .scripts/new-locales.py
    - name: Update locales
      run: .scripts/locales.py
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v6.0.5
      with:
        title: "Update locales"
        commit-message: "Update locales"
        branch-suffix: timestamp
